@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  li {
    font-family: 'Ropa Sans', sans-serif;
    

  }

  button {
    @apply text-white border bg-[#DE4646] border-[#DE4646]
    hover:bg-transparent hover:text-[#DE4646] rounded-md mx-4
  }

  h1 {
    font-family: 'Ropa Sans', sans-serif;
  }
}
